// colors

$gray: #7e7e7e

$main-color: #00CF99

// responsive

$wide: 1366
$note: 1024
$tablet: 768
$mobile: 568
$mobile-s: 414

// fonts

=main-font
  font-family: 'Montserrat', Helvetica, sans-serif

=secondary-font
  font-family: 'Source Code Pro', monospace
  font-weight: bold

=font-face($font-family, $file-path, $weight: normal, $style: normal)
  @font-face
    font-family: $font-family
    src: url('#{$file-path}.woff2') format('woff2'), url('#{$file-path}.woff') format('woff')
    font-weight: $weight
    font-style: $style

+font-face('Montserrat', '../fonts/montserrat-regular', 400)
+font-face('Montserrat', '../fonts/montserrat-semibold', 500)
+font-face('Montserrat', '../fonts/montserrat-bold', 700)

