html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-regular.woff2") format("woff2"), url("../fonts/montserrat-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-semibold.woff2") format("woff2"), url("../fonts/montserrat-semibold.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-bold.woff2") format("woff2"), url("../fonts/montserrat-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

.underline, .burger__lines-block, .hero__title, .hero-slider .decor, .country-list__title {
  position: relative; }
  .underline:before, .burger__lines-block:before, .hero__title:before, .hero-slider .decor:before, .country-list__title:before, .underline:after, .burger__lines-block:after, .hero__title:after, .hero-slider .decor:after, .country-list__title:after {
    content: '';
    position: absolute; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*::-moz-selection {
  background: rgba(0, 207, 153, 0.93);
  color: white; }

*::selection {
  background: rgba(0, 207, 153, 0.93);
  color: white; }

html {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none; }

body {
  font-family: 'Montserrat', Helvetica, sans-serif;
  position: relative;
  min-width: 320px;
  font-size: 14px; }

main {
  position: relative; }

a {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  display: inline-block;
  text-decoration: none; }

input,
select,
textarea,
button {
  font-family: 'Montserrat', Helvetica, sans-serif;
  color: #000;
  background: transparent;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none; }

button {
  cursor: pointer; }

::-webkit-input-placeholder {
  color: #7e7e7e;
  opacity: .5; }

:-moz-placeholder {
  color: #7e7e7e;
  opacity: .5; }

::-moz-placeholder {
  color: #7e7e7e;
  opacity: .5; }

:-ms-input-placeholder {
  color: #7e7e7e;
  opacity: .5; }

.wrp {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 40px; }

.underline:before {
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  height: 2px;
  background: #00CF99;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

.underline:hover:before {
  width: 100%; }

.bold {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 2px; }

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid #354aa9;
  z-index: 10; }
  .header__container {
    height: 80px;
    position: relative; }
  .header__wrp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%; }
    .header__wrp a {
      color: #fff;
      padding: 7px 0; }
  .header__logo {
    font-family: 'Cantarell', sans-serif;
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-transform: scaleX(1.2);
    -ms-transform: scaleX(1.2);
    transform: scaleX(1.2);
    position: relative;
    left: 18px;
    margin-right: 150px; }
  .header__link-block {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
  .header__link {
    margin-right: 20px; }

.burger {
  z-index: 100;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20px;
  margin: auto;
  width: 30px;
  height: 30px; }
  .burger__btn {
    width: 100%;
    height: 100%;
    cursor: pointer; }
  .burger__lines-block {
    top: 7px;
    left: 6px;
    width: 16px;
    height: 14px; }
    .burger__lines-block:before, .burger__lines-block:after {
      width: 100%;
      height: 2px;
      left: 0;
      background: #fff;
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease; }
    .burger__lines-block:before {
      top: 0; }
    .burger__lines-block:after {
      bottom: 0; }
    .burger__lines-block.active:before {
      top: 6px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      background: #000; }
    .burger__lines-block.active:after {
      bottom: 6px;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      background: #000; }
  .burger__mid-line {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 2px;
    background: #fff;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }
    .burger__mid-line.active {
      opacity: 0; }

.sidebar {
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 0;
  background: rgba(0, 0, 50, 0.7);
  overflow: hidden;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }
  .sidebar.active {
    width: 100%; }
  .sidebar__container {
    background: #fff;
    height: 100%;
    width: 30%;
    position: relative; }
  .sidebar__list {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center; }
  .sidebar__link {
    font-size: 30px;
    padding: 20px;
    color: #fff;
    opacity: 0;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }
    .sidebar__link.active {
      opacity: 1;
      color: #000; }

.footer {
  background: #cacaca;
  height: 300px; }

.hero {
  height: 780px;
  background: url("../img/hero.jpg");
  background-position: center 0;
  background-size: cover;
  background-repeat: no-repeat; }
  .hero__title-block {
    padding-top: 145px;
    margin: 0 auto 42px;
    max-width: 1200px; }
  .hero__title {
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 1.3;
    color: #fff;
    padding-bottom: 20px; }
    .hero__title:before {
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 60px;
      height: 3px;
      background: #00CF99; }
  .hero__card {
    background: #fff;
    height: 200px;
    position: relative; }
    .hero__card span {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-size: 20px; }
  .hero__text {
    color: #fff;
    display: block;
    text-align: center;
    margin: 40px 0; }

.hero-slider {
  position: relative; }
  .hero-slider__container {
    outline: none;
    position: relative; }
  .hero-slider__item {
    width: 300px;
    height: 230px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: #cacaca; }
  .hero-slider .slick-list {
    height: 232px; }
  .hero-slider .slick-arrow {
    position: absolute;
    width: 30px;
    height: 30px;
    top: -40px;
    cursor: pointer; }
  .hero-slider .slick-prev {
    left: 10px; }
  .hero-slider .slick-next {
    right: 10px; }
  .hero-slider .decor {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: #fff;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }
    .hero-slider .decor:before {
      width: 10px;
      height: 10px;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      border-top: solid 2px #7e7e7e;
      border-left: solid 2px #7e7e7e; }
    .hero-slider .decor:hover {
      background: #00CF99; }
      .hero-slider .decor:hover:before {
        border-top: solid 2px #fff;
        border-left: solid 2px #fff; }
  .hero-slider .decor-prev:before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 2px; }
  .hero-slider .decor-next:before {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    right: 2px; }

.hero-slider-item {
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-box-shadow: 0 0 10px #7e7e7e;
  box-shadow: 0 0 10px #7e7e7e; }
  .hero-slider-item__img {
    width: 100%;
    height: 170px;
    -o-object-fit: cover;
    object-fit: cover; }
  .hero-slider-item__info-block {
    height: 62px;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .hero-slider-item__info-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .hero-slider-item__title {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 500; }
  .hero-slider-item__text {
    color: #7e7e7e; }

.main-info__title-block {
  margin-top: 110px;
  text-align: center; }

.main-info__title {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  padding-bottom: 20px;
  border-bottom: solid 3px #00CF99; }

.main-info__text {
  font-size: 24px;
  text-align: center;
  line-height: 1.5;
  margin-top: 30px; }

.main-info__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 60px 0 90px; }

.main-info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px; }
  .main-info__item:first-child {
    margin-left: 0; }

.main-info__info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 3px 0 3px 18px; }

.main-info__item-title {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 15px; }

.main-info__item-text {
  line-height: 1.3; }

.registration {
  height: 300px;
  background-image: url("../img/reg-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left 0;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .registration__title {
    margin-top: 55px; }
  .registration__text {
    margin-bottom: 20px; }
  .registration__form {
    background: #fff;
    border-radius: 50px;
    -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.5);
    width: 780px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .registration__input {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-left: 30px;
    font-size: 15px; }
  .registration__submit {
    width: 375px;
    height: 100%;
    background: #00CF99;
    border-radius: 50px;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px; }
  .registration__city {
    margin-top: 20px; }
  .registration__search {
    margin-bottom: 20px;
    color: #fff;
    -webkit-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease; }
    .registration__search:hover {
      color: #00CF99; }

.country-list {
  text-align: center; }
  .country-list__title {
    margin: 53px 0 60px; }
    .country-list__title:before {
      width: 60px;
      height: 3px;
      background: #00CF99;
      bottom: -30px;
      left: 0;
      right: 0;
      margin: auto; }
  .country-list__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 753px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto 40px; }
  .country-list__link {
    color: #000;
    -webkit-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease;
    line-height: 1.5;
    margin: 0 10px; }
    .country-list__link:hover {
      color: #00CF99; }

.collage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .collage__lev {
    height: 380px;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .collage__lev:first-child {
      margin-top: 0; }
  .collage__item_1 {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    background-image: url("../img/main-cities/1.jpg"); }
  .collage__item_2 {
    width: 380px;
    margin-left: 20px;
    background-image: url("../img/main-cities/2.jpg"); }
  .collage__item_3 {
    width: 380px;
    background-image: url("../img/main-cities/3.jpg"); }
  .collage__item_4 {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    background-image: url("../img/main-cities/4.jpg"); }
  .collage__item_5 {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-top: 20px;
    background-image: url("../img/main-cities/5.jpg"); }
  .collage__item_6 {
    width: 380px;
    background-image: url("../img/main-cities/6.jpg"); }
  .collage__item_7 {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-left: 20px;
    background-image: url("../img/main-cities/7.jpg"); }
  .collage__form-block {
    background: #00CF99;
    width: 380px;
    margin-left: 20px; }
  .collage__psevdo-block {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .collage__link-all {
    background: #00CF99;
    color: #fff;
    margin: 70px auto;
    padding: 18px 0;
    width: 377px;
    text-align: center;
    border-radius: 50px; }
  @media only screen and (max-width: 768px) {
    .wrp {
      max-width: 688px;
      padding: 0; } }
