+b.SECTION.collage.wrp
    +e.DIV.lev_1
        +e.DIV.item_1
        +e.DIV.item_2
    +e.DIV.lev_2
        +e.DIV.item_3
        +e.DIV.form-block
        +e.DIV.psevdo-block
            +e.DIV.item_4
            +e.DIV.item_5
    +e.DIV.lev_3
        +e.DIV.item_6
        +e.DIV.item_7
    +e.A.link-all.bold(href="#") Все направления

