+b.SECTION.country-list
    +e.H1.title.bold
        | Сравнивайте и бронируйте лучшие предложения
        br
        | по популярным направлениям
    +e.UL.list
        each item in countryList
            +e.LI.item
                +e.A.link(href="#")= item
