+b.SECTION.hero
    +e.DIV.title-block
        +e.H1.title Выбрать тур или забронировать отель - решайте сами!
    +e.DIV.card-block.wrp
        +e.DIV.card
            span в процессе
    +e.SPAN.text Выбирайте и бронируйте готовые туры или создавайте своё уникальное путешествие из отдельных услуг.
    +b.DIV.hero-slider
        each item in heroSlider
            +e.DIV.container
                +e.DIV.item
                    +b.hero-slider-item
                        +e.IMG.img(src=`${item.img}`)
                        +e.DIV.info-block
                            +e.DIV.info-line
                                +e.H2.title= item.city
                                +e.SPAN.text= item.hotelNum
                            +e.DIV.info-line
                                +e.SPAN.text= item.country
                                +e.SPAN.text= item.hotelText
