+b.SECTION.hero
    +e.DIV.title-block
        +e.H1.title Выбрать тур или забронировать отель - решайте сами!
    +e.DIV.card.wrp
        span ??? есть вопросы по этому блоку, пока не делал ???
    +e.SPAN.text Выбирайте и бронируйте готовые туры или создавайте своё уникальное путешествие из отдельных услуг.
    +b.DIV.hero-slider
        +e.DIV.item slide 1
        +e.DIV.item slide 2
        +e.DIV.item slide 3
        +e.DIV.item slide 4
        +e.DIV.item slide 5
        +e.DIV.item slide 6
        +e.DIV.item slide 7


