+b.SECTION.registration
    +e.H1.title Зарегестрируйся прямо сейчас!
    +e.P.text Чтобы получить специальное предложение
    +e.FORM.form
        +e.INPUT.input(type="e-mail" placeholder="Введите адрес электронной почты")
        +e.BUTTON.submit Зарегестрироваться
    +e.SPAN.city Лондон
    +e.A.search(href="#") Найти отель
