- var countryList = ["Россия","Турция","Италия","Россия","Турция","Италия","Россия","Турция","Италия","Россия","Турция","Италия","Россия","Турция","Италия"]

-
    var heroSlider  = [
        {
            "img": "../img/hero-slider-item.jpg",
            "city": "Рио Де жанейро",
            "country": "Рио Де жанейро тест lorem",
            "hotelNum": "3000000",
            "hotelText": "отелей"
        },
        {
            "img": "../img/hero-slider-item.jpg",
            "city": "Токио",
            "country": "Япония",
            "hotelNum": "2000",
            "hotelText": "отелей"
        },
        {
            "img": "../img/hero-slider-item.jpg",
            "city": "Токио",
            "country": "Япония",
            "hotelNum": "5000",
            "hotelText": "отелей"
        },
        {
            "img": "../img/hero-slider-item.jpg",
            "city": "Токио",
            "country": "Япония",
            "hotelNum": "8000",
            "hotelText": "отелей"
        },
        {
            "img": "../img/hero-slider-item.jpg",
            "city": "Рио Де жанейро",
            "country": "Япония lorem",
            "hotelNum": "100000",
            "hotelText": "отелей"
        },
        {
            "img": "../img/hero-slider-item.jpg",
            "city": "Токио",
            "country": "Япония",
            "hotelNum": "2000",
            "hotelText": "отелей"
        },
        {
            "img": "../img/hero-slider-item.jpg",
            "city": "Токио",
            "country": "Япония",
            "hotelNum": "2000",
            "hotelText": "отелей"
        }
    ]
    var mainInfo = [
        {
            "img": "../img/icons/safe.png",
            "title": "Безопасно",
            "text": "100% безопасная оплата. Гарантия безопасной сделки"
        },
        {
            "img": "../img/icons/globe.png",
            "title": "Выгодно",
            "text": "Выкупая большие объемы у отеля, мы получаем лучшие условия."
        },
        {
            "img": "../img/icons/clock.png",
            "title": "Удобно",
            "text": "Быстрое и комфортное бронирование. Горячая линия 24 часа."
        }
    ]
