extends ../template

block variables
    - var title = 'About'
    - var bodyFlex = true

block content

    include ../common/header

    +b.MAIN.about(class=bodyFlex ? 'main-flex' : '')
        +e.SECTION.test-section
            +e.H2.test-title Test title
            div.test-2
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci, aliquam aliquid animi asperiores beatae expedita fugiat in incidunt modi, mollitia odio placeat, quae quam quo quos totam voluptas voluptate voluptatum? Atque commodi culpa, dolorum expedita impedit modi repudiandae sed. Ad, alias aperiam commodi consectetur delectus dolore dolores dolorum ea earum eius eligendi error esse et excepturi explicabo fugiat ipsa, ipsum itaque laudantium magnam maxime minima molestiae nisi nobis officiis pariatur, quae quaerat quasi qui quia ratione recusandae sit temporibus tenetur unde voluptas voluptatum. Blanditiis commodi dignissimos error ipsa labore magni minima molestiae nesciunt, nihil perspiciatis praesentium, quis totam unde, veritatis voluptas? Corporis esse est fugit illo impedit ipsum, necessitatibus nobis odit perferendis quia rem repellendus sit suscipit unde voluptatum. Accusantium amet consequatur cumque delectus deleniti doloremque dolores eius eum excepturi facere, fuga iste iure laborum modi molestias odio odit optio quisquam quo recusandae sapiente sit voluptatem? Aut cumque facilis fuga hic neque placeat quia, repellat? Adipisci animi asperiores at aut, cumque deserunt dignissimos expedita explicabo inventore, nam nemo placeat, praesentium ratione veniam vitae. Blanditiis, id illum molestiae obcaecati placeat porro quae recusandae reiciendis sed tenetur. Corporis explicabo minima porro possimus recusandae. Aliquam assumenda corporis, eos, error eveniet excepturi iste nesciunt nulla pariatur possimus quibusdam ratione repellendus repudiandae rerum sed sequi, voluptates? Aperiam distinctio doloremque dolores expedita, inventore ipsum laborum laudantium minima mollitia natus necessitatibus nemo nihil nobis porro quia ratione rem temporibus voluptas voluptates voluptatibus! Accusamus aspernatur blanditiis consectetur culpa cum distinctio dolor doloremque eius facilis hic in, ipsum labore magnam necessitatibus nemo nostrum officiis, omnis perspiciatis porro qui quibusdam quidem suscipit tenetur! Accusantium consequuntur corporis delectus dolorum exercitationem facere labore, molestiae nam nihil odio quibusdam quo sunt tenetur ullam, vel! Ad aliquam amet delectus exercitationem libero minus numquam obcaecati officia praesentium, sequi sint sit totam veniam voluptates voluptatum. Alias animi aperiam cumque dicta, dignissimos dolor et fugiat, iusto maiores nobis omnis sequi sunt tenetur unde vitae. Animi commodi consectetur laudantium minima quis suscipit. Commodi eaque, ex id ipsa numquam quia saepe sapiente vero voluptate voluptatum. Ad, aperiam architecto asperiores delectus dignissimos earum enim explicabo ipsum iure laboriosam nobis non nostrum omnis quam quidem, rem, ut vel voluptates? Alias asperiores dignissimos enim exercitationem impedit rerum, tenetur. Alias commodi consequatur cum, dicta doloribus est ex fuga incidunt ipsam iusto minus mollitia nam nemo neque numquam, quisquam ratione reiciendis sed voluptas voluptatum. Adipisci aliquam amet assumenda at commodi culpa cum dolor doloremque, dolores eligendi et eum facilis fugiat id illo illum ipsam iste itaque labore magnam nisi numquam placeat possimus repellat repudiandae sapiente sunt tempora? Commodi earum esse ex maiores neque perferendis qui quibusdam recusandae, reiciendis, sit, vel veniam voluptatem. Deserunt itaque iure quos reiciendis sapiente suscipit, veritatis? Ab autem commodi corporis, debitis, deleniti deserunt dicta doloremque enim et ex, itaque mollitia pariatur perferendis porro possimus provident quasi qui repellat repellendus temporibus unde vel velit voluptas. Aliquam assumenda atque deleniti molestiae nisi vel voluptate. A accusantium aliquid amet debitis eius est eum in libero omnis quia quo reiciendis repellendus, sit?
            script(type='text/javascript', src='//tvil.ru/resources/js/tvilFrame.min.js?5899')
            #tvil_reviews
                | Все отзывы оставлены пользователями сайта
                a(href='/', target='_blank') TVIL.ru
            script(type='text/javascript').
              Tvil.FrameReviews.init({id: "574077", width: "750"});


    include ../common/footer
