extends ../template

block variables
    - var title = 'Home page'

block content

    include ../components/header

    main.main
        include ../components/hero
        div(style='font-size: 30px; margin-top: 100px') Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus culpa debitis distinctio dolore enim quis quod suscipit totam unde voluptatem! Accusantium aliquam commodi consectetur excepturi expedita ipsum numquam quidem sit temporibus, ullam, veritatis vero. A accusamus blanditiis dolorum eligendi facilis illo ipsum iste repellat, ullam? At cumque deserunt doloremque ipsam ipsum magni modi optio provident reprehenderit vitae. Atque consequatur cum et hic omnis quo quod soluta? Dolor iste officiis, perspiciatis quibusdam quidem quos vel. Architecto delectus eum explicabo nisi perferendis possimus quae quam reprehenderit sed sequi suscipit totam, unde, veniam! Aperiam atque consequuntur et labore maxime neque quos ut vitae.

    include ../components/footer




