extends ../template

block variables
    - var title = 'Home page'

block content

    include ../components/header

    main.main
        include ../components/hero
        include ../components/main-info
        include ../components/registration
        include ../components/country-list

    include ../components/footer




