.hero-slider
  position: relative
  &__container
    outline: none
    position: relative
  &__item
    width: 300px
    height: 230px
    position: absolute
    top: 0
    left: 0
    right: 0
    margin: auto
    background: #cacaca

  .slick-list
    height: 232px

  // arrows

  .slick-arrow
    position: absolute
    width: 30px
    height: 30px
    top: -40px
    cursor: pointer
  .slick-prev
    left: 10px
  .slick-next
    right: 10px
  .decor
    padding: 0
    margin: 0
    width: 100%
    height: 100%
    display: block
    background: #fff
    +psevdo
    +tr
    &:before
      width: 10px
      height: 10px
      +zero
      border-top: solid 2px $gray
      border-left: solid 2px $gray
    &:hover
      background: $main-color
      &:before
        border-top: solid 2px #fff
        border-left: solid 2px #fff
  .decor-prev:before
    transform: rotate(-45deg)
    left: 2px
  .decor-next:before
    transform: rotate(135deg)
    right: 2px
