+b.sprite
    h3 Svg sprite example:
    +icon('github_round', 'sprite')
    +icon('in_round', 'sprite')
    +icon('vk_round', 'sprite')
    // <svg class="sprite__icon icon github_round">
         <use xlink:href="img/sprite.svg#github_round"></use>
