// body-flex (footer to bottom)

.body-flex
  display: flex
  flex-direction: column
  min-height: 100vh

.main-flex
  flex-grow: 1

// header-footer styles

.header, .footer
  display: flex
  justify-content: center
  align-items: center
  height: 30px
  color: #fff
  background: $bg-color-dark
  a
    color: #fff

// - - - - -
body
  background: #f9b9bd

.test-2
  background: #fff
  width: 750px
  //height: 600px
  +b
  margin: 0 auto

.about__test-section
  height: 60vh
  //overflow: hidden
  +bb

#tvil_reviews
  box-shadow: 0 0 15px #767676
  margin: 15px auto
  //min-height: 400px
  //overflow-y: scroll

#entityReviews-list
  //overflow-y: scroll
