+b.SECTION.hero
    +e.DIV.title-block
        +e.H1.title Выбрать тур или забронировать отель - решайте сами!
    +e.DIV.card.wrp
        span ??? есть вопросы по этому блоку, пока не делал ???
    +e.SPAN.text Выбирайте и бронируйте готовые туры или создавайте своё уникальное путешествие из отдельных услуг.
    +e.DIV.slider-block
